* {
    padding: 0;
    margin: 0;
}

header h1{
    text-align: center;
    margin-top: 50px;
    color: green;
}

main p{
    text-align: center;
    margin-top: 50px; 
    margin: 60px;
    font-size: 30px;
}

main li{
    text-align: center;
}