
*{
    padding: 0;
    margin: 0;
    background-color: beige;
    font-family: 'Quicksand', sans-serif;
} 

header {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #19282F;
}


header div {
    margin-bottom: 10px;
}

body{
    margin-top: 10px;
}

main p{
    text-align: center;
    margin-top: 50px; 
    margin: 60px;
    font-size: 30px;
}

.economia_agua{
    margin-left: 150px;
    margin-top: 200px;
    margin-bottom: -100px;
    font-size:xx-large

}

.logo_agua{
    display: flex;
    justify-content: end;
    margin-right: 100px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.energia_sustentavel{
    margin-left: 150px;
    margin-top: 200px;
    font-size:xx-large
}

.logo_energia{
    display: flex;
    justify-content: end;
    margin-right: 100px;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-direction: row-reverse;
}

.agricultura{
    margin-left: 150px;
    margin-top: 200px;
    font-size:xx-large
}

.logo_agricultura{
    display: flex;
    justify-content: end;
    margin-right: 100px;
    align-items: center;
    margin: 0;
    margin-right: 40px;
    padding: 0;
}

.politica{
    margin-left: 150px;
    margin-top: 200px;
    font-size:xx-large
}

.logo_politica{
    display: flex;
    justify-content: center;
    margin-right: 100px;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-direction: row-reverse;
}

.economico{
    margin-left: 150px;
    margin-top: 200px;
    font-size:xx-large
}

.logo_economico{
    display: flex;
    justify-content: center;
    margin-right: 100px;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-direction: row-reverse;
}

.transporte{
    margin-left: 150px;
    margin-top: 200px;
    font-size:xx-large
}

.logo_transporte{
    display: flex;
    justify-content: center;
    margin-right: 100px;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-direction: row-reverse;
}

.tecnologia_titulo{
    text-align: center;
    font-size:xx-large;
    margin-top: 100px;
}

.titulo{
    font-size: xx-large;
}

.logo_tech{
    display: flex;
    justify-content: end;
    margin-right: 100px;
    align-items: center;
    margin: 0;
    margin-right: 40px;
    padding: 0;
}